.list {
    text-align: center;
    background-color: whitesmoke;
}

.taskButton:hover button {
    display: inline-block;

}

button {
    display: none;
    background: none;
    font-size: 10px;
    border: none;
}

.card {
    display: inline-block;
    background-color: white;
}

.taskItem {
    border-bottom: 1px solid#c2c2c2;}

